* {
  font-family: "Noto Sans TC", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

// html {
//   height: 100%;
// }

body {
  position: relative;
  // display: flex;
  // overflow: hidden;
  // flex-wrap: wrap;
  // height: 100%;
}

.orange {
  position: absolute;
  top: -5vh;
  right: 0;
  z-index: -1;
  // width: 50vw;
  // height: 100%;
}

header {
  nav {
    width: 100%;
    ul {
      width: 2rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 1.75rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    flex: 3 1 500px;
    padding-left: 2rem;
    h1 {
      font-size: 4rem;
      color: #ff9344;
    }
    p {
      font-size: 1.5rem;
      padding: 1rem 0rem;
    }
  }
  section.right {
    flex: 1 1 600px;
    position: relative;
    img {
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
      position: absolute;
      top: 50vh;
      right: 24vw;
      transform: translateY(-50%);
    }
  }
}

.active {
  color: #ff9344;
}

// @media screen and (max-width: 2000px) {
//   .orange {
//     top: -10vh;
//   }
//   main {
//     section.left {
//       flex: 3 1 500px;
//     }
//     section.right {
//       flex: 1 1 650px;
//       img {
//         top: 42vh;
//         right: 22vw;
//       }
//     }
//   }
// }

// @media screen and (max-width: 1100px) {
//   header {
//     nav {
//       ul {
//         flex-direction: column;
//         li {
//           padding: 1rem 0rem;
//           border-bottom: 2px solid #39342e;
//         }
//       }
//     }
//   }
// }
